.indx_menuOpIconos_div{
    display: flex;
    justify-content: flex-end;

}

.indx_menuOpIconos_a{
    margin: 8px;
    color: black;
}

.indx_menuOpIconos_span{
    font-size: 9px;
}

.indx_menuOpIconos_img{
    width: 100%;
    
}